API_BASE_URL=http://localhost:8000/api/v1
GOOGLE_MAPS_API_KEY=xxx


client id mayu 174621730965-5epgd44jqnlt5mciek1f4en94njccc66.apps.googleusercontent.com
et json

{"installed":{"client_id":"174621730965-5epgd44jqnlt5mciek1f4en94njccc66.apps.googleusercontent.com","project_id":"travelconnect-486814","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs"}}
